Case.MVC/Service References/RssParser/Case.ORM.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Case.ORM" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Case.ORM" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRssPage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RssPage" nillable="true" type="tns:RssPage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRssPage" nillable="true" type="tns:ArrayOfRssPage" />
  <xs:complexType name="RssPage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContentXml" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="RssLink" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RssPage" nillable="true" type="tns:RssPage" />
</xs:schema>